// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font-awesome

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';

// custom css
@import '../css/plugins/plugins.min.css';

@import "../css/style";


.icon {
    margin: 0 0.15em;
    display: inline-block;
    vertical-align: baseline;

    .svg {
        height: 1em;
        width: auto;
        fill: inherit;
        display: inline-block;
    }
}

.w-half {
    width: 50%;
}
.illustration {

    display: block;

    & img {
        page-break-inside: avoid;
    }

    &.is-postcard-without-caption {
        border-width: 1em 1em 3em;
    }

    &.is-postcard {
        display: block;
        /* Show postcards for older browsers */
        border-width: 1em;
    }

    &.h-full {
        & img {
            @screen sm {
                @apply absolute;
                @apply w-full;
                @apply h-full;
                @apply pin;
                @apply object-fit-cover;
                max-height: none;
            }
        }
    }

    @screen print {
        @apply shadow; /* Large shadow doesn't print so well */
        max-height: 7cm !important;
    }
}

.illustration-svg {
    @apply hidden;
}

@supports (display: grid) {
    .illustration {

        @screen sm {
            @apply max-w-none;

            .is-left {
                border-left-width: 0 !important;
            }

            .is-right {
                border-right-width: 0 !important;
            }
        }

        .is-rotated {
            @apply mt-16;
            transform: rotate(-2deg) translateY(-2rem);

            &.is-left {
                transform-origin: 0 100%;
            }

            &.is-right {
                transform-origin: 100% 0;
            }

            @screen sm {
                .mt-8 {
                    margin-top: 8rem;
                }
            }
        }

        img, svg {
            // display: block;
            vertical-align: middle;
        }
    }

    .illustration-svg {
        display: block;

    }
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mt-4 {
    margin-top: 1rem;
}
.h-16 {
    height: 5rem;
}
.w-16 {
    width: 5rem;
}

.w-full {
    width: 100%;
  }

.h-full {
    height: 100%;
  }
.shadow-lg {
    -webkit-box-shadow: 0 15px 30px 0 rgba(162, 184, 193, .14), 0 5px 15px 0 rgba(76, 55, 55, .12);
    box-shadow: 0 15px 30px 0 rgba(162, 184, 193, .14), 0 5px 15px 0 rgba(76, 55, 55, .12);
}

.overflow-hidden {
    overflow: hidden;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rounded-full {
    border-radius: 9999px;
}

.stack-list {
    line-height: 2;
}

.stack-list li {

    list-style: none;
    display: inline-block;

    &:not(:last-child) {
        &:after {
            @apply char-separator;
            margin: 0 0.5em;
            content: '•';
            color: #4098e5;
        }
    }
}

.width-60 {
    width: 60%;
}
